<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-pods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B2832021BDEA7BA00DA5F46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B28321B1BDEA7BA00DA5F46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B2832261BDEA7BA00DA5F46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
